.header {
    height: 64px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left:100px ; */
    /* padding-right: 100px; */
    color:#111111;
    max-width: 1280px;
    

}
nav.header a{
    text-decoration: none;
    color:#111111;
    margin-left: 20px;
  
}
nav.header a:hover{
    color:darkviolet;
}
